*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    float: right;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(#b6b2b2, #03004d);
}


/*main video*/

#mainvideo_container {
    height: 100vh;
}

#mainvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#mainvideotext_container {
    position: absolute;
    z-index: 3;
    bottom: 20vh;
    left: 20vw;
}

#blackrec {
    position: absolute;
    background-color: #000000;
    opacity: 50%;
    height: 100vh;
    width: 90vw;
}

#line {
    border-bottom: #e6e6e6 solid 10px;
    margin: 12px auto;
}

#name {
    font-family: 'Crimson-text';
    font-size: 100px;
    color: #e6e6e6;
}

#shop {
    font-family: 'Crimson-text';
    font-size: 80px;
    color: #e6e6e6;
}

/* footer */
#ft_container {
    text-align: left;
    margin-left: 22vw;
}

.footer_container {
    height: 100vh;
    width: 89vw;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.things {
    display: flex;
    justify-content: space-around;
    margin: auto 0;

}

.footer_text {
    color: white;
    margin-bottom: 2px;
    font-family: "Raleway";
    font-size: 20px;
}

.text {
    width: auto;
    margin: auto;
    font-size: 24px;
}

.footer_titles {
    color: white;
    margin-bottom: 5px;
    font-family: "Raleway";
}

.footer_title {
    color: white;
    font-size: 54px;
    margin: auto;
    font-family: "Crimson Text";
}

/* progress bar */
.header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #03004d;
}


.progress-bar {
    height: 8px;
    background: #b6b2b2;
    width: 0%;
}

/* videos section */

#first_video {
    height: 100vh;
    width: 90vw;
    margin-top: 10vh;
}

#second_video {
    height: 100vh;
    width: 90vw;
}

#video1 {
    width: 60vw;
}

#video2 {
    width: 60vw;
}

#video1_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10vh;
    padding-top: 10vh;
    width: 60vw;
    margin: 50px auto;
}

#video2_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;
    margin: 50px auto;
}

#videosection_title {
    font-size: 54px;
    color: #ffffff;
}

.craft_video {
    width: 600px;
}

.video_description_1 {
    color: #ffffff;
    width: 600px;
    text-align: right;
    padding-bottom: 40px;
    font-size: 54px;
    min-width: 100%;
    margin: 0 auto;

    font-family: 'Crimson Text';
}

.video_description_2 {
    color: #ffffff;
    width: 600px;
    text-align: left;
    padding-bottom: 40px;
    padding-top: 25px;
    font-size: 54px;
    min-width: 100%;
    margin: 0 auto;
    font-family: 'Crimson Text';
}

/* gallery */

#gallery_container {
    height: 100vh;
    text-align: right;
}

#gt_container {
    float: right;
    text-align: right;
    margin-bottom: 10vh;
}

#gallery {
    height: 100vh;
    flex-direction: column-reverse;
}

#gallery_title {
    font-size: 54px;
    color: #ffffff;

    font-family: 'Crimson Text';
}

.gallery_pics {
    width: 450px;
    height: auto;
    margin-right: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
    transition: transform .2s;
}

#gallery_container {
    height: 100vh;
    text-align: center;
    z-index: 10;
}

.gallery_pics:hover {
    transform: scale(1.5);
    -webkit-box-shadow: 0px 5px 25px 4px #000000; 
    box-shadow: 0px 5px 25px 4px #000000;
}

/* story */

.story_container {
    color: white;
    font-family: 'Raleway';
    font-size: 20px;
    width: 90vw;
    height: 100vh;
    float: right;
}

.story_title {
    font-family: 'Crimson Text';
    padding: 24px 450px;
    text-align: end;
    font-size: 54px;
}

.line_separator1 {
    border-bottom: #b6b2b2 solid 10px;
    width: 1200px;
    float: right;
}

.line_separator2 {
    border-bottom: #b6b2b2 solid 10px;
    width: 1200px;
}

.story_section1 {
    margin: 0px 50px;
    display: flex;
    clear: both;
}

.story_section2 {
    margin: 0px 50px;
    display: flex;
}

.story_image {
    height: 350px;
    margin: 20px;
    border-radius: 10px;
}

.story_text {
    margin: 30px;
    text-align: justify;
    margin-bottom: 75px;
}

/* menu */

.nav_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    margin: auto;
    justify-content: space-around;
    width: 200px;
    background-color: #e6e6e6;
    z-index: 3;
}

.nav_element {
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav_element:hover {
    background: white;
}

.nav_title {
    font-family: 'Crimson Text';
    margin: auto;
    margin-bottom: 5px;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav_subtitle {
    font-family: 'Raleway';
    margin: auto;
    font-size: .8em;
    margin-top: 10px;

}

.locker_container {
    display: block;
    margin: auto;
    /*    margin: auto;*/
}

.nav_locker {
    width: 15px;
    /*    margin: auto;*/
}

.locker_container::before {
    content: '';
    display: block;
    float: left;
    margin: 10px;
    width: 50px;
    height: 2px;
    background: black;
}

.locker_container::after {
    content: '';
    display: block;
    float: right;
    margin: 10px;
    width: 50px;
    height: 2px;
    background: black;
}
